@charset "UTF-8";

/*全画面共通body*/
body {
	font-family: 'Zen Maru Gothic', serif;
	background-color: #fffaef;
	width: 100em;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */
	margin-top: 100px;

}

/*全画面共通a*/
a {
	font-size: 1.0em;
	text-decoration: none;
}

/*全画面共通img*/
img {
	max-width: 100%;
	vertical-align: bottom;
}

.profile {
	padding: 20px;
	margin-top: 120px;
}

/*プロフィール画像*/
.img-thumbnail {
	margin-top: 50px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

/* スタイルを適用するための親要素 */
.custom-file-input {
	position: relative;
	display: inline-block;
}

/* 実際のinputは非表示 */
.custom-file-input input {
	display: none;
}

/* カスタムデザインのスタイル */
.custom-file-input label {
	display: inline-block;
	padding: 10px 15px;
/*	background-color: #3498db;*/
	color: #0000ff;
	cursor: pointer;
	border-radius: 5px;
}

.quiz_list {
	padding: 20px;
	margin-top: 120px;
}

.createhistory {
	text-align: center;
}

.box {
	padding: 25px;
	margin: 60px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	border-radius: 10px;
	background-color: #ffff99;
}

.title {
	font-size: 30px;
	margin-left: 100px;
}

.information {
	margin-right: 200px;
}
/*ゴミ箱*/
.garbage_can {
	margin: 20px 30px 0 0;
    text-align: right;
    color: #000000;
}

/*モーダル*/

/*モーダル内ボーダー消す*/
.modal {
	--bs-modal-footer-border-width: none;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	justify-content: center;
}

/*1つ目のモーダル*/

/*backボタン*/
.no-btn {
	width: 150px;
	height: 70px;
}

/*endボタン*/
.yes-btn {
	width: 150px;
	height: 70px;
}