@charset "UTF-8";

/* --全画面共通-- */
/*全画面共通body*/
body {
	font-family: 'Zen Maru Gothic', serif;
	background-color: #fffaef;
	font-size: 1vw;
	width: 100%;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */
	margin-top: 15%;

}

/*全画面共通a*/
a {
	text-decoration: none;
}

/*全画面共通img*/
img {
	max-width: 100%;
	vertical-align: bottom;
}

/*--index.html--*/

/*-並び替えメニュー-*/
.secondary-header {
	z-index: 97;
	top: 15%;
	background-color: #CDF5FD;
	display: flex;
	width: 100%;
	height: 10%;
	/* セカンダリーヘッダーの高さを設定 */
	align-items: center;
	/* 他のスタイルプロパティを追加 */

}

.secondary-header a {
	color: #000000;
	position: relative;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
	cursor: pointer;
}

.secondary-header a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 3px;
	background-color: lightseagreen;
	transition: .3s;
	transform: translateX(-50%);
}

.secondary-header a:hover::after {
	width: 100%;
}

.secondary-header ul {
	width: 100%;
	position: fixed;
	display: flex;
	margin: 0 auto;
	padding-left: 0;
}

.secondary-header li {
	text-align: center;
	font-size: 2em;
	width: 100%;
	list-style: none;
	margin: 0 120px;
}

.genre-selector 
.genre-selector{
	border-style: none;
	background-color: transparent;
	text-align: center;
	outline: none;
}


/* -クイズ- */

/* クイズ一覧 */
.quiz_list {
	margin-bottom: 0px;
	width: 100%;
}

/* 各クイズ */
.quiz {
	position: relative;
	padding: 30px 0px;
	padding-bottom: 40px;
	margin-bottom: 5%;
	margin-left: 15%;
	margin-right: 15%;
	border: 1px solid #333333;
	border-radius: 80px;
	background-color: rgb(215, 248, 215);
}

.quiz .title {
	font-size: 2vw;
	margin-left: 5%;
	font-family: cursive;
}

.quiz .information {
	position: absolute;
	z-index: 10;
	width: 100%;
	text-align: center !important;
	margin-top: 10px;
}

.quiz .information a {
	margin: 0 0.5rem;
}

.quiz .answer-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ex {
	color: #000000;
	opacity: 0.8;
}

/*作成ボタン*/

.fixed-bottom {
	z-index: 96;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.btn {
	margin-bottom: 40px;
	margin-right: 40px;
}

/* 背景用*/

.btn,
a.btn,
button.btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

a.btn-border-shadow {
	padding: calc(1.5rem - 12px) 3rem 1.5rem;

	background: #fff;
}

a.btn-border-shadow:before {
	position: absolute;
	top: -6px;
	left: -6px;

	width: 100%;
	height: 100%;

	content: "";
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	border: 3px solid #000;
	border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
	padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
	top: 0;
	left: 0;
}

a.btn-border-shadow--color2 {
	border-radius: 100vh;
}

a.btn-border-shadow--color2:before {
	border-radius: 100vh;
	-webkit-box-shadow: 3px 3px 0 #78e5e5;
	box-shadow: 3px 3px 0 #78e5e5;
}

.fixed-bottom > .fa-solid {
	font-size: 40px;
}

/*モーダル*/
.modal-dialog {
	width: 2000px;
	height: 500px;
}

.modal-content {
	margin-top: 10px;
}

.modal-backdrop {
	/* モーダルが開いているときのオーバーレイ */
	background-color: rgba(0, 0, 0, 0.5);
	/* 背景の色と透明度を調整 */
}

.modal-open {
	/* モーダルが開いているときのbodyのスタイル（モーダルを開いたときにスクロールを禁止する） */
	overflow: hidden;
}

.quiz-metadata div {
	padding: 10px;
}


/* 作問制御 */

.questions-wrap {
	width: 30%;
}

.questions-wrap .question {
	border: 3px solid #808080;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;
	width: 90%;
	background-color: #f7f6f5;
}

.questions-wrap .current {
	border: 3px solid #aaa;
	background-color: #f7f6f5;
}

.question-wrap {
	width: 100%;
}

.create-question-text {
	min-width: 0;
	width: 85%;
	height: 45%;
	border-radius: 40px;
	border: solid 2px #808080;
	background-color: #fff;
	padding: 20px;
}

.create-question-text textarea {
	border: none;
	width: 100%;
	height: 100%;
	resize: none;
	outline: none;
}

.create-question-choises {
	height: 50%;
}

.create-modal-body {
	display: flex;
}

.create-modal-wrap,
.create-modal-content {
	max-width: 90vw;
	max-height: 90vh;
	width: 90vw;
	height: 90vw;
}

.create-modal-content {
	border-bottom: 1px solid #d1d5db;
	background-color: #ffffe5;
	margin: 0;
}

/*次へボタン*/
.confirmation-btn {
	display: inline-block;
	width: 200px;
	height: 50px;
	/* ボタン幅 */
	background: #4D9BC1;
	/* 背景色 */
	border: 2px solid #4D9BC1;
	padding: 1em 2em;
	font-weight: bold;
	color: #fff;
	/* 文字 */
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	transition-duration: 0.3s;
	/* 位置 */
	position: absolute;
	margin: 0;
	padding: 10px;
	bottom: 70px;
	right: 70px;
}

.confirmation-btn:before {
	content: '';
	width: 8px;
	height: 8px;
	border: 0;
	border-top: 2px solid #fff;
	/* 矢印の色 */
	border-right: 2px solid #fff;
	/* 矢印の色 */
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top: -6px;

}

.confirmation-btn:hover {
	background: #fff;
	/* 背景色 */
	color: #4D9BC1;
	/* 文字色 */
}

.confirmation-bt:hover:before {
	border-top: 2px solid #4D9BC1;
	/* 矢印の色 */
	border-right: 2px solid #4D9BC1;
	/* 矢印の色 */
}

.choise-wrap {
	margin: 10px 0;
}

.choise-wrap label {
	margin: 0;
	height: 100%;
}

.choise-wrap input {
	background-color: #ffffe5;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.choise-wrap input:focus {
	border-bottom-color: #ffa500;
}

.question-overview {
	height: 30px;
}

.add-question-btn {
	position: absolute;
	background-color: #9E9E9E;
	border-radius: 50%;
	border: none;
	height: 50px;
	width: 50px;
	padding: 0;
	bottom: 30px;
}


.post-roading-back {
	display: none;
	transition-delay: 2s;
	max-width: 100vw;
	max-height: 100vh;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.374);
	z-index: 1060;
	position: fixed;
	top: 0;
}

.post-roading-anime {
	position: fixed;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: #ffffff89 solid 20px;
	border-top: #1e9ecd6b solid 20px;
	border-radius: 50%;
	animation: spiner 2s ease-in-out infinite;
}

.post-roading-msg {
	position: fixed;
	width: 100vw;
	text-align: center;
	color: #fff;
	font-size: 3rem;
	top: 25%;
}

.confirm-modal-dialog {
	z-index: 1070;
	width: 40vw;
	max-width: 40vw;
	height: 70vh;
	max-height: 70vh;
}


.modal-footer {
	height: 100px;
}


/*作問確認画面*/

.quiz_title,
.genre,
.explanation {
	width: 500px;
}

/*修正ボタン、投稿ボタン*/
.correction,
.post {
	display: inline-block;
	width: 100px;
	height: 30px;
	/* ボタン幅 */
	background: #4D9BC1;
	/* 背景色 */
	border: 2px solid #4D9BC1;
	padding: 1em 2em;
	font-weight: bold;
	color: #ffffff;
	/* 文字 */
	font-size: 15px;
	text-decoration: none;
	text-align: center;
	transition-duration: 0.3s;
	font-weight: normal;
	/* 位置 */
	/*	position: absolute;*/
}

.correction:before,
.post:before {
	content: '';
	width: 8px;
	height: 8px;
	border: 0;
	transform: rotate(45deg);
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top: -6px;

}

.correction:hover,
.post:hover {
	background: #fff;
	/* 背景色 */
	color: #4D9BC1;
	/* 文字色 */
}

@keyframes spiner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.noquizdata {
	margin-top: 30px;
	font-size: 40px;
	text-align: center;
}

.none {
	display: none;
}


.quiz .information .genre {
	color: #4D9BC1;
	cursor: pointer;
}

/* 作問モーダル用(Bootstrapなし) */

.create-quiz-modal-back {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #0006;
	top: 0;
	right: 0;
	z-index: 100;
	overscroll-behavior: none;
}

.create-quiz-modal {
	display: flex;
	width: 90vw;
	height: 90vh;
	background-color: #F9F7C9;
	position: absolute;
	top: 5vh;
	left: 5vw;
	border-radius: 20px;
}

.create-quiz-modal::before {
	width: 90vw;
	height: 90vh;
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #8d8875;
	border-radius: 30px;
	z-index: -1;
}

.stored-question {
	padding-top: 30px;
	width: 30%;
	height: calc(100% - 30px);
	overflow: auto;
}

.stored-question::after {
	content: "";
	display: block;
	position: absolute;
	top: 5%;
	left: 30%;
	width: 0;
	height: 90%;
	border-right: 2px solid #818181;
}

.question-editor {
	width: 70%;
	height: 100%;
}

.question-overview,
.add-question {
	width: 90%;
	height: 60px;
	border-bottom: solid 1px #000;
	margin: 0 auto;
	cursor: pointer;
}

.question-overview:hover {
	background-color: #0000001e;
}

.add-question {
	position: sticky;
	bottom: 0;
	background-color: #F9F7C9;
	margin: 0 auto;
	/*	text-align: center;*/
	text-decoration: none;
	/*アニメーションの指定*/
	transition: all .2s;
}

/*hoverした際の変化*/
.add-question:hover {
	background-color: #F9F7C9;
	color: #000;
}

.add-question span {
	/*絶対配置でテキストの位置を決める*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*アニメーションの指定*/
	transition: all .5s;
	/*ブロック要素にしてテキスト折り返しなし*/
	display: block;
	white-space: nowrap;
}

/*差し替わるテキストの設定*/
.add-question span:nth-child(2) {
	opacity: 0;
	/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.add-question:hover span:nth-child(1) {
	opacity: 0;
	/*透過0に*/
}

.add-question:hover span:nth-child(2) {
	opacity: 1;
	/*不透明に*/
}

.question-text {
	display: block;
	border-radius: 5px;
	background-color: #ffffff;
	width: calc(90% - 2em);
	height: 30%;
	margin: 5%;
	padding: 1em;
	resize: none;
}

.choices {
	height: 35%;
	width: 90%;
	margin: 5%;
}

.choice {
	width: 100%;
	height: 25%;
}


.choice-text {
	width: 70%;
	border-radius: 5px;
	border: none;
	background-color: #ffffff;
	height: 2em;
	padding-left: 2%;
}

.submit-quiz-btn {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: -30px;
	right: -30px;
	cursor: pointer;
	display: flex;
	background: #80BCBD;
	color: #ffffff;
}

.submit-quiz-btn:hover {
	background-color: #AAD9BB;
	color: #ffffff;
	transition: all 0.5s;
}

.submit-quiz-btn > .fa-solid {
    font-size: 60px;
    margin-top: 10PX;
    width: 100%;
    text-align: center;
}

/* 作問確認モーダル */
.metadata-modal-back {
	display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0006;
	z-index: 100;
}

.metadata-modal {
    display: block;
    position: absolute;
    top: calc(50vh - 175px);
    left: 20vw;
    width: 50vw;
    min-width: 400px;
    height: 300px;
    background-color: #F9F7C9;
    border-radius: 20px;
    padding: 50px;
}

.quiz-metadata {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 5%;
}

.quiz-metadata>* {
	margin: 10px 0;
	height: 2em;
	border: solid 2px #88847b;
	background-color: #faf8f3;
}

.quiz-metadata>select {
	margin: 10px 0;
}

.quiz-metadata option {
	background-color: #faf8f3;
}

.metadata-buttons {
    position: absolute;
    display: flex;
    bottom: 40px;
    right: 40px;
}

.metadata-buttons>* {
	font-size: 1.5rem;
	border-radius: 0.5rem;
	margin: 0 10px;
	width: 5em;
	height: 2em;
	border: solid 1px #000;
}

.post-quiz-btn {
    max-width: 50%;
    width: 120px;
    height: 100%;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #43deb7;
    background: #43deb7;
    color: #fff;
    transition: 0.5s;
    margin: 0 10px;
}

.post-quiz-btn:hover {
	color: #43deb7;
	background: #fff;
}

.cancel-quiz-btn {
    max-width: 50%;
    width: 120px;
    height: 100%;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #82A0D8;
    background: #82A0D8;
    color: #fff;
    transition: 0.5s;
    margin: 0 10px;
}

.cancel-quiz-btn:hover {
	color: #82A0D8;
	background: #fff;
}

.metadata-buttons>.fa-solid {
	font-size: 1.5vw;
}


/*✕ボタン*/
.close_btn {
    margin: 0;
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    /* border: 2px solid #3330; */
    background: #fff0;
    cursor: pointer;
}



.close_btn::before,
.close_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #fff;
}

.close_btn::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}