@charset "UTF-8";


/* --全画面共通-- */
/*全画面共通body*/
html{
	scroll-behavior: smooth;
}

html *{
	font-size: 1rem;
}

body {
	font-family: 'Zen Maru Gothic', serif;
	background-color: #fffaef;
	font-size: 1vw;
	width: 100%;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */
	margin-top: 140px;
}

button {
	font-family: 'Zen Maru Gothic', serif;
}

.order-menu{
	position: fixed;
	top: 100px;
	height: 40px;
}

.order-menu>*{
	display: block;
	width: 33%;
	text-align: center;
	font-size: 1.5em;
}

.order-menu>*:hover{
	text-decoration: underline solid #000;
}

.genre_selector {
	border: none;
	background-color: #daeef0;
	font-size: 1.5em;
}

.quiz_list{
	min-width: 600px;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.quiz {
    position: relative;
    padding: 10px;
    margin:0px 20px 20px 20px;
    border-radius: 80px;
    background-color: #0000;
    transition: .2s ease-in-out;
}

.quiz:hover{
	padding:13px 7px 7px 13px;
}


.quiz::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 80px;
	transition:.2s ease-in-out;
	background-color: #d7f8d7;
	z-index:-1;
}

.quiz::before{
    background-color: #96aa96;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 3px;
    left: 3px;
    position: absolute;
    z-index: -2;
    border-radius: 80px;
    transition: .2s ease-in-out;
}	

.quiz:hover::after{
	top:3px;
	left: 3px;
}

.quiz .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 2em;
	margin-left: 5%;
}

.quiz .explanation {
	margin-left: 30%;
}

.quiz .information {
	width: 100%;
	text-align: center !important;
	margin-top: 10px;
}

.quiz .information a {
	margin: 0 0.5rem;
}

.quiz .answer-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.quiz .metadata{
	display: flex;
}

.quiz .information .genre {
	color: #4D9BC1;
	cursor: pointer;
}


.create-quiz-btn{
	position:fixed;
	width: 100px;
	height: 100px;
	bottom: 0;
	right: 0;
	margin-bottom: 40px;
	margin-right: 60px;
}

.create-quiz-btn .fa-solid {
	font-size: 40px;
}


.create-quiz-open{	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	padding: calc(1.5rem - 12px) 3rem 1.5rem;
	background: #fff;
	border-radius: 100vh;
	box-shadow: 3px 3px 0 #78e5e5;
}

.create-quiz-open:before{
	
	position: absolute;
	top: -6px;
	left: -6px;

	width: 100%;
	height: 100%;

	content: "";
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	border: 3px solid #000;
	border-radius: 100vh;
}

.create-quiz-open:hover{
	padding: calc(1.5rem - 6px) 3rem;
}

.create-quiz-.create-quiz-open:before {
	top: 0;
	left: 0;
}

.fa-solid {
	font-size: 40px;
}

.modal-close-btn {
	display: block;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 70px;
    height: 70px;
    z-index: 1;
    border-radius: 50%;
	cursor: pointer;
	background: #B4B4B8;
	color: #ffffff;
	text-align: center;
	align-items: center;
}

.modal-close-btn::after,
.modal-close-btn::before{
	position: absolute;
	content: "";
	width: 80%;
	height: 8%;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	transform-origin: center center;
	background-color: #fff;
	pointer-events: none;
}

.modal-close-btn::after{
    transform: translate(-50%, -50%) rotate(45deg);
}
.modal-close-btn::before{
    transform: translate(-50%, -50%) rotate(-45deg);
}



.create-quiz-modal-back {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #0006;
	top: 0;
	right: 0;
	z-index: 100;
	overscroll-behavior: none;
}

.create-quiz-modal {
	display: flex;
	width: 90vw;
	min-width: 700px;
	height: 90vh;
	min-height: 400px;
	background-color: #F9F7C9;
	position: absolute;
	top: 5vh;
	left: 5vw;
	border-radius: 20px;
}

.create-quiz-modal::before {
	width: 90vw;
	min-width: 700px;
	height: 90vh;
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #8d8875;
	border-radius: 30px;
	z-index: -1;
}

.create-quiz-modal::before {
	width: 90vw;
	height: 90vh;
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #8d8875;
	border-radius: 30px;
	z-index: -1;
}

.question-overview,
.add-question {
	width: 90%;
	height: 60px;
	border-bottom: solid 1px #000;
	margin: 0 auto;
	cursor: pointer;
}

.question-overview:hover {
	background-color: #0000001e;
}

.add-question {
	position: sticky;
	bottom: 0;
	background-color: #F9F7C9;
		margin: 0 auto;
	/*	text-align: center;*/
	text-decoration: none;
	/*アニメーションの指定*/
	transition: all .2s;
}

/* 問題追加用のプラスマーク */

.plus-icon{
	width: 10px;
	height: 10px;
}


.plus-icon:before {
    position: absolute;
    top: calc(50% - 1px);
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
}

.plus-icon::after {
    position: absolute;
    content: "";
    display: block;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    border-radius: 1px;
    background-color: #000;
}


/*hoverした際の変化*/
.add-question:hover {
	background-color: #F9F7C9;
	color: #000;
}

.add-question span {
	font-size: 1rem;
	/*絶対配置でテキストの位置を決める*/
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*アニメーションの指定*/
	transition: all .5s;
	/*ブロック要素にしてテキスト折り返しなし*/
	display: block;
	white-space: nowrap;
}

/*差し替わるテキストの設定*/
.add-question span:nth-child(2) {
	opacity: 0;
	/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.add-question:hover span:nth-child(1) {
	opacity: 0;
	/*透過0に*/
}

.add-question:hover span:nth-child(2) {
	opacity: 1;
	/*不透明に*/
}

.question-text {
    font-size: 1rem;
    display: block;
    border-radius: 5px;
    background-color: #ffffff;
    width: calc(90% - 2em);
    height: 30%;
    margin: 5%;
    padding: 1em;
    resize: none;

}

.choices {
    height: 35%;
    width: 90%;
    margin: 5%;
    border: none;
    padding: 0;
}

.choice {
	width: 100%;
	height: 25%;
}

.choice-text {
    font-size: 1rem;
    width: 70%;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    height: 2rem;
    padding-left: 2%;
	margin-left: 5px;
}
	
.stored-question {
	padding-top: 30px;
	width: 30%;
	height: calc(100% - 30px);
	overflow: auto;
}

.stored-question::after {
	content: "";
	display: block;
	position: absolute;
	top: 5%;
	left: 30%;
	width: 0;
	height: 90%;
	border-right: 2px solid #818181;
}

.question-editor {
	width: 70%;
	height: 100%;
}

.submit-quiz-btn {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: -30px;
	right: -30px;
	cursor: pointer;
	display: flex;
	background: #80BCBD;
	color: #ffffff;
}

.submit-quiz-btn:hover {
	background-color: #AAD9BB;
	color: #ffffff;
	transition: all 0.5s;
}

.submit-quiz-btn > .fa-solid {
    font-size: 60px;
    margin-top: 10PX;
    width: 100%;
    text-align: center;
}

.metadata-close-btn {
	display: block;
    position: absolute;
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
	cursor: pointer;
	background: #B4B4B8;
	color: #ffffff;
	text-align: center;
	align-items: center;
}

.metadata-close-btn > i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.metadata-modal-back{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0;
	background-color: #0006;
}

.metadata-modal {
    display: block;
    position: absolute;
    top: calc(50vh - 175px);
    left: 20vw;
    width: 50vw;
    min-width: 400px;
    height: 300px;
    background-color: #F9F7C9;
    border-radius: 20px;
    padding: 50px;
}

.quiz-metadata {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 5%;
}

.quiz-metadata>* {
	font-size: 0.75rem;
	margin: 10px 0;
	height: 2em;
	border: solid 2px #88847b;
	background-color: #faf8f3;
}

.quiz-metadata>select {
	margin: 10px 0;
}

.quiz-metadata option {
	background-color: #faf8f3;
}

.metadata-buttons {
    position: absolute;
    display: flex;
    bottom: 40px;
    right: 40px;
}

.metadata-buttons>* {
	font-size: 1.5rem;
	border-radius: 0.5rem;
	margin: 0 10px;
	width: 5em;
	height: 2em;
	border: solid 1px #000;
}

.post-quiz-btn {
    max-width: 50%;
    width: 120px;
    height: 100%;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #43deb7;
    background: #43deb7;
    color: #fff;
    transition: 0.5s;
    margin: 0 10px;
}

.post-quiz-btn:hover {
	color: #43deb7;
	background: #fff;
}

.cancel-quiz-btn {
    max-width: 50%;
    width: 120px;
    height: 100%;
    padding: 0;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid #82A0D8;
    background: #82A0D8;
    color: #fff;
    transition: 0.5s;
    margin: 0 10px;
}

.cancel-quiz-btn:hover {
	color: #82A0D8;
	background: #fff;
}

.metadata-buttons>.fa-solid {
	font-size: 1.5vw;
}

.author, .genre {
	position: relative;
	z-index: 1;
}



.close_btn::before,
.close_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background: #fff;
}

.close_btn::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

/*.message {*/
/*  position: fixed;*/
/*  bottom: 20px;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*  padding: 10px 20px;*/
/*  border-radius: 5px;*/
/*  opacity: 0;*/
/*  transition: opacity 0.3s ease-in-out;*/
/*  background-color: #f0f8ff;*/
/*}*/

/*.message.show {*/
/*  opacity: 1;*/
/*}*/

.completion-snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #313131;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 15px 30px; 
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px; 
  transform: translateX(-50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 25%);
}

.completion-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.posting-snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #313131;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 15px 30px; 
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px; 
  transform: translateX(-50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 25%);
}

.posting-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.go-top-btn{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: fixed;
    background-color: #2d9596;
    left: 15px;
    bottom: -80px;
    overflow: hidden;
    transition: ease-in-out .3s;
}

.go-top-btn .up-arrow{
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 35px;
    pointer-events: none;
}

.go-top-btn a{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	left: 0;
	top: 0;
}

.go-top-btn a:hover{
	background-color: #777;
}


/*　上に上がる動き　*/


@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/

@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
}
