@charset "UTF-8";

body {
	font-family: 'Zen Maru Gothic', serif;
	background-color: #fffaef;
	width: 100%;
	max-width: 100%;
	/* ページの最大横幅を画面幅と同じに設定 */


}

a {
	font-size: 1.0em;
	text-decoration: none;
}

img {
	max-width: 80%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/* トップ画像のスタイル */
.left-contents {
	position: absolute;
	margin-top: 20px;
	/*	align-items: center;*/
}


.message {
	text-align: center;
}

/* 右側のコンテナのスタイル */
.container {
	margin-top: 5%;
	font-size: 1.5vw;
	border: none;
	border-radius: 0px;
}

.form {
	height: 45%;
}

/* 列のスタイル */
.tabs .indicator {
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container {
	padding-top: 10px;
}

.confirmation-tabs-btn {
	position: absolute;
}

/* カードヘッダーとカードボディの背景色 */
.card-header teal text-white .card-body {
	background-color: #FFBB64;
}

.card-body {
	padding: 1% 3%;
}	
/* タブメニューの背景色 */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: #FFBB64;
	flex: 1;
	text-align: center;

}

/* ナビゲーションリンクの背景色とテキストカラー */
.nav-link {
	font-size: 1.5vw;
	background-color: #FFE7C1;
	color: #000000;
}

.nav-link active {
	background-color: #FFBB64;
}

.nav-link:hover {
	color: #FF6868;
}

/* タブメニューのスタイル */
.nav-tabs .nav-link {
	display: block;
	padding: 1.5rem;
}

/* カードヘッダーのパディング */
.card-header {
	padding: 0em;
}

.fixed-col-md-7 {
	width: 500px;
	margin-top: 20px;
	margin-right: 2px;
}

.form-group {
	margin-bottom: 0;
}

.textbox {
	margin: 35px 15px 0 20px;
	width: 400px;
	border: none;
	outline: none;
	border-bottom: 2px solid #a9a9a9;
}

.textbox:focus {
	border: none;
	outline: none;
	border-bottom: 2px solid #ffa500;
	
}

/*送信ボタン*/
.btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: 50px auto 0 auto;
	padding: 1rem 1.5rem;
	font-weight: bold;
	border: 2px solid #ffa500;
	background: #ffa500;
	color: #fff;
	transition: 0.5s;
}

.btn:hover {
	color: #ffa500;
	background: #fff;
}



.fixed-col-md-7 {
	margin-top: 20px;
}


/*ログインに失敗した時のメッセージ*/
.miss {
	font-size: 16px;
	color: red;
	text-align: center;
	margin: 22px;

}

.none {
	display: none;
}