@charset "UTF-8";

/*全画面共通body*/
body {
	font-family: 'Zen Maru Gothic', serif;
	background-color: #fffaef;
	width: 100em;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */
	margin-top: 100px;
	overflow: hidden;

}

/*全画面共通a*/
a {
	font-size: 1.0em;
	text-decoration: none;
}

/*全画面共通img*/
img {
	max-width: 100%;
	vertical-align: bottom;
}

.profile {
	padding: 20px;
	margin-top: 120px;
	font-size: 20px;
}

/*プロフィール画像*/
.prof-img {
	margin-top: 30px;
/*	border-radius: 50%;*/
	width: 200px;
	height: 200px;
}

/* スタイルを適用するための親要素 */
.custom-file-input {
	position: relative;
	display: inline-block;
}

/* 実際のinputは非表示 */
.custom-file-input input {
	display: none;
}

/* カスタムデザインのスタイル */
.custom-file-input label {
	display: inline-block;
	padding: 10px 15px;
/*	background-color: #3498db;*/
	color: #0000ff;
	cursor: pointer;
	border-radius: 5px;
}

.title {
	margin-left: 10px;
}

.nickname {
	margin-top: 50px;
	background-color: #fffaef;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.nickname:focus {
	border-bottom-color: #ffa500;
}

.password {
	background-color: #fffaef;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.password:focus {
	border-bottom-color: #ffa500;
}

/* ボタンのスタイル */
.buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 24px;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  overflow-wrap: anywhere;
  color: #ffffff;
  background-color: #f39700;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  border: none;
}

@media (any-hover: hover) {
  .buttonRound {
    transition: background-color 0.2s;
  }

  .buttonRound:hover {
    background-color: #ee7800;
  }
}