@charset "UTF-8";
/*quiz.html*/

/*全画面共通body*/
body {
	background-color: #fffaef;
	width: 100%;
	max-width: 100%;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */

}

/*全画面共通a*/
a {
	font-size: 1.0em;
	text-decoration: none;
}

/*全画面共通img*/
img {
	max-width: 100%;
	vertical-align: bottom;
}

/*全画面共通header*/
header {
	background-color: #DBFAFD;
	display: flex;
	width: 100%;
	height: 120px;
	align-items: center;
	position: fixed;
	/* スクロールしてもヘッダーが固定 */
	top: 0;
	z-index: 1000;
	/* ヘッダーが他の要素の上に表示されるように */
}

/*全画面共通ヘッダー画像*/
.header-img {
	position: fixed;
	padding: 4px;
	margin-top: 10px;
	margin-left: 10px;
	width: 130px;
	top: 0;
}


/*quiz.html*/
.container {
	padding: 0px;
	padding-top: 120px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
}

/*クイズ回答履歴*/
.quizlist {
	background-color: silver;
	height: 80%;
	display: flex;
	justify-content: space-between;
}

.d-flex {
	width: 20%;
	height: 100%;
	padding: 20px;
	vertical-align: text-top;
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

.d-flex a {
	padding: 7px;
}



/*回答する欄*/
.Problem-statement {
	background-color: #fffaef;
	width: 80%;
	/* 二分割するために適切な幅を設定 */
	box-sizing: border-box;
	/* ボーダーボックスモデルを使用して、borderの幅も考慮 */
	padding: 30px;
	/* 適切な余白を追加 */
}

.text-right {
	font-size: 20px;
	margin-right: 20px;
}

.border {
	display: block;
	padding: 20px;
	width: 1200px;
	height: 400px;
	overflow: auto;
	/* はみ出た内容をスクロールで表示 */
}


.sentence {
	font-size: 25px;
	overflow: hidden;
	/* はみ出た部分を非表示にする */
}

.choices {
	padding: 20px;
}

.choice {
	font-size: 18px;
	padding: 5px;
}

/*選択肢ボタン*/
.answer {
	padding: 15px;
}

.answer .btn {
	font-size: 30px;
	color: #000000;
	width: 250px;
	height: 80px;
	margin: 20px;
}

.answer .btn:focus {
	color: #ffffff;
}

/*回答完了モーダル*/

/*共通*/

/*モーダル内ボーダー消す*/
.modal {
	--bs-modal-footer-border-width: none;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	justify-content: center;
}

/*1つ目のモーダル*/

/*backボタン*/
.no-btn {
	width: 150px;
	height: 70px;
}

/*endボタン*/
.yes-btn {
	width: 150px;
	height: 70px;
}

/*2つ目のモーダル*/


/*結果出力*/
.question-result {
	display: flex;
	flex-wrap: wrap;
}

.question-result p {
	font-size: 20px;
	display: block;
	margin-bottom: 5px;
	/* 必要に応じてマージンを追加 */
	flex: 0 0 calc(50% - 10px);
	/* 2列になるように設定 */
	margin: 5px;
}

.score {
	padding-top: 20px;
	margin-right: 25px;
}

.score>h3 {
	margin-right: 20px;
}

.close-btn {
	font-size: 30px;
	width: 150px;
	height: 70px;
}

/*profile.html*/

.profile {
	padding: 20px;
	margin-top: 120px;
}

/*プロフィール画像*/
.img-thumbnail {
	margin-top: 50px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

/* スタイルを適用するための親要素 */
.custom-file-input {
	position: relative;
	display: inline-block;
}

/* 実際のinputは非表示 */
.custom-file-input input {
	display: none;
}

/* カスタムデザインのスタイル */
.custom-file-input label {
	display: inline-block;
	padding: 10px 15px;
/*	background-color: #3498db;*/
	color: #0000ff;
	cursor: pointer;
	border-radius: 5px;
}

.title {
	margin-left: 10px;
}

.nickname {
	margin-top: 50px;
	background-color: #fffaef;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.nickname:focus {
	border-bottom-color: #ffa500;
}

.password {
	background-color: #fffaef;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.password:focus {
	border-bottom-color: #ffa500;
}

.edit-btn {
	margin-top: 20px;
}

.selected{
	border:solid 3px #ff0000;	
}

.selected:hover{
	border:solid 3px #ff0000;	
}