@charset "UTF-8";

html {
	width: 100%;
}

/*全画面共通body*/
body {
	font-family: 'Zen Maru Gothic', serif;
	background-color: #fffaef;
	width: 100%;
	max-width: 100%;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */

}

/*全画面共通a*/
a {
	font-size: 1.0em;
	text-decoration: none;
}

/*全画面共通img*/
img {
	max-width: 100%;
	vertical-align: bottom;
}

/*全画面共通header*/
header {
	background-color: #DBFAFD;
	display: flex;
	width: 100%;
	height: 120px;
	align-items: center;
	position: fixed;
	/* スクロールしてもヘッダーが固定 */
	top: 0;
	z-index: 1000;
	/* ヘッダーが他の要素の上に表示されるように */
}

/*全画面共通ヘッダー画像*/
.header-img {
	position: fixed;
	padding: 4px;
	margin-top: 10px;
	margin-left: 10px;
	width: 130px;
	top: 0;
}


/*quiz.html*/
.container {
	padding: 0px;
	padding-top: 120px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
}

/*クイズ回答履歴*/
.quizlist {
	background-color: #d3d3d3;
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
}

.d-flex {
	width: 20%;
	height: 100%;
	padding: 20px;
	vertical-align: text-top;
	display: flex;
	flex-direction: row;
	font-size: 20px;
}

/*回答履歴*/
.d-flex a {
	padding: 7px;
}

/*今解いている問題の回答*/
.active_question {
	color: #ff0000;
}

/*回答完了ボタン*/
.close-btn {
	color: #404040;
	background-color: #ffa500;
	width: 270px;
	height: 40px;
	border: none;
	border-radius: 5%;
}

/*回答する欄*/
.Problem-statement {
	background-color: #fffaef;
	width: 80%;
	/* 二分割するために適切な幅を設定 */
	box-sizing: border-box;
	/* ボーダーボックスモデルを使用して、borderの幅も考慮 */
	padding: 30px;
	/* 適切な余白を追加 */
}

.text-right {
	font-size: 20px;
	margin-right: 20px;
}

/*問題文を囲う枠*/
.border {
	display: block;
	padding: 20px;
	width: 1200px;
	height: 250px;
	overflow: auto;
	/* はみ出た内容をスクロールで表示 */
}

/*問題文*/
.sentence {
	font-size: 20px;
	overflow: hidden;
	/* はみ出た部分を非表示にする */
}

/*解答群*/
.answers {
	margin-top: 30px;
	width: 100%;
	transition: height 0.3s;
}

.answers td {
	padding: 10px;
	text-align: center;
}

/*選択肢*/
.choice {
	width: 280px;
	font-size: 35px;
	padding: 20px;
	overflow-wrap: normal;
}

/*選択肢ボタン*/
.btn--orange,
a.btn--orange {
	color: #fff;
	background-color: #eb6100;
	width: 200px;
	height: 70px;
	font-size: 30px;
}

.btn--orange:hover,
a.btn--orange:hover {
	color: #fff;
	background: #f56500;
}

@media screen and(max-width: 767px) {
	.answers td {
		width: 50%;
		box-sizing: border-box;
	}
}

/*回答完了モーダル*/

/*共通*/

/*モーダル内ボーダー消す*/
.modal {
	--bs-modal-footer-border-width: none;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	justify-content: center;
}

/*1つ目のモーダル*/

/*backボタン*/
.no-btn {
	width: 150px;
	height: 70px;
}

/*endボタン*/
.yes-btn {
	width: 150px;
	height: 70px;
}

/*2つ目のモーダル*/


/*結果出力*/
.question-result {
	display: flex;
	flex-wrap: wrap;
}

.question-result p {
	font-size: 20px;
	display: block;
	margin-bottom: 5px;
	/* 必要に応じてマージンを追加 */
	flex: 0 0 calc(50% - 10px);
	/* 2列になるように設定 */
	margin: 5px;
}

.score {
	padding-top: 20px;
	margin-right: 25px;
}

.score>h3 {
	margin-right: 20px;
}

.close-btn {
	font-size: 30px;
	width: 150px;
	height: 70px;
}

/*profile.html*/

.profile {
	padding: 20px;
	margin-top: 120px;
}

/*プロフィール画像*/
.img-thumbnail {
	margin-top: 50px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

/* スタイルを適用するための親要素 */
.custom-file-input {
	position: relative;
	display: inline-block;
}

/* 実際のinputは非表示 */
.custom-file-input input {
	display: none;
}

/* カスタムデザインのスタイル */
.custom-file-input label {
	display: inline-block;
	padding: 10px 15px;
/*	background-color: #3498db;*/
	color: #0000ff;
	cursor: pointer;
	border-radius: 5px;
}

.title {
	margin-left: 10px;
}

.nickname {
	margin-top: 50px;
	background-color: #fffaef;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.nickname:focus {
	border-bottom-color: #ffa500;
}

.password {
	background-color: #fffaef;
	border: none;
	outline: none;
	border-bottom: 2px solid #999;
	padding: 5px 10px;
}

.password:focus {
	border-bottom-color: #ffa500;
}

.edit-btn {
	margin-top: 20px;
}

.selected{
	border:solid 3px #ff0000;	
}

.selected:hover{
	border:solid 3px #ff0000;	
}


/* 自作確認モーダル */
.confirm-modal{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0006;
    z-index: 1100;
}

.confirm-modal-body{
    position: absolute;
    width: 40vw;
    left: 30vw;
    height: 20vh;
    top: 40vh;
    background-color: #fff;
    border-radius: 10px;
	padding: 3vh 5vw;
}

.confirm-choices{
	text-align: center;
}

.cofirm-msg{
	text-align: center;
}

.confirm-modal button{
    height: 4em;
    width: 7em;
    max-width: 100%;
    border-radius: 1em;
}

.result-modal{
	display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0006;
    z-index: 1100;
}

.result-modal-body{
    position: absolute;
    display: block;
    grid-template-rows: 50px repeat(2,5fr);
    grid-template-columns: 1fr 3fr;
    width: 70vw;
    left: 15vw;
    height: 50vh;
    top: 25vh;
    background-color: #ffffff;
    border-radius: 10px;
}

.result-modal .title{
    width: 100%;
    margin: 2% auto;
    font-size: 2em;
    text-align: center;
    height: 2em;
    padding: 0;
}


.result-modal .result-list{
    width: 100%;
    height: calc(96% - 8em);
}

.result-modal .result-list>div{
    font-size: 2em;
    display: inline;
    margin-left: 2em;
}

.result-modal .result-rate{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 2em;
    padding-right: 2rem;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    height: 2em;
}