@charset "UTF-8";

/*全画面共通body*/
body {
	background-color: #fffaef;
	width: 100%;
	max-width: 100%;
	/* ページの最大横幅を画面幅と同じに設定 */
	margin: 0;
	/* ページを水平中央に配置するために左右の余白を自動調整 */
	margin-top: 150px;

}

/*全画面共通a*/
a {
	font-size: 1.0em;
	text-decoration: none;
}

/*全画面共通img*/
img {
	max-width: 100%;
	vertical-align: bottom;
}

/*全画面共通header*/
header {
	background-color: #DBFAFD;
	display: flex;
	width: 100%;
	height: 120px;
	align-items: center;
	position: fixed;
	/* スクロールしてもヘッダーが固定 */
	top: 0;
	z-index: 1000;
	/* ヘッダーが他の要素の上に表示されるように */
}

/*全画面共通ヘッダー画像*/
.header-img {
	position: fixed;
	padding: 4px;
	margin-top: 10px;
	margin-left: 10px;
	width: 130px;
	top: 0;
}

.container {
	margin-top: 20px;
}

.score {
	text-align: center;
	font-size: 40px;
}

.accuracyrate {
	text-align: center;
	font-size: 40px;
}

.border {
	padding: 15px;
	border-radius: 10px;
}

/* ハンバーガーボタンのデザイン */
.drawer__button { 
    position: relative;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
    margin: 25px 30px 0 auto;
    /* メニューを開いている時もクリックできるよう設定 */
}

/* ハンバーガーボタン内の線 */
.drawer__button>span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
}

.drawer__button>span:first-child {
    transform: translate(-50%, calc(-50% - 0.5rem));
    transition: transform 0.3s ease;
}

.drawer__button>span:nth-child(2) {
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.drawer__button>span:last-child {
    transform: translate(-50%, calc(-50% + 0.5rem));
    transition: transform 0.3s ease;
}

/* 展開時のデザイン */
.drawer__button.active>span:first-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.drawer__button.active>span:nth-child(2) {
    opacity: 0;
}

.drawer__button.active>span:last-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

/* メニューのデザイン */
.drawer__nav {
    position: fixed;
    /* 追従ヘッダーなどでも表示できるよう設定しておく */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.drawer__nav.active {
    opacity: 1;
    visibility: visible;
}

/*メニュー展開時のデザイン*/
.drawer__nav__inner {
    position: relative;
    width: 25%;
    height: 100%;
    background-color: #D9D9D9;
    padding: 4rem 1.5rem 1rem;
    margin: 0 0 0 auto;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.drawer__nav.active .drawer__nav__inner {
    transform: translateX(0);
}

.drawer__nav__menu {
    list-style: none;
    padding-left: 0;
}

.drawer__nav__link {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem 1rem;
    border-bottom: solid 1px lightgray;
}

/* ハンバーガーメニュー展開時、背景を固定 */
body.active {
    overflow: hidden;
}

/* 見た目の調整 */
section {
    width: 100%;
    height: 30vh;
}

section:nth-child(even) {
    background-color: skyblue;
}



