@charset "UTF-8";


body {
    background-color: #fffaef;
    width: 100%;
    
}

a {
	font-size: 0.5cm;
}

.top-img {
	margin-left: 10%;
    margin-top: 8%;
    float: left;
    border: 8px ;
}

.d-flex {
	width: 90vm;
}

.container {
	float: right;
	margin-top: 15%;
}

.tabs .indicator {
    background-color: #e0f2f1;
    height: 60px;
    opacity: 0.3;
}

.form-container {
/*    padding: 40px;*/
    padding-top: 10px;
}

.confirmation-tabs-btn {
    position: absolute;
}


.card-header teal text-white {
	background-color: #e0f2f1;
}
.nav-link active {
	background-color: #ffcc66;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #ee7948;
	
}

.nav-tabs .nav-item {
    flex: 1; /* 幅を均等に分割 */
    text-align: center; /* テキストを中央寄せ */
}

.nav-tabs .nav-link {
    display: block;
    padding: 1rem; /* オプション: パディングを追加して選択エリアを大きくする */
}

.card-header {
	padding: 0;
}

.col-md-6 {
	
}