@charset "UTF-8";

body {
	background-color: #fffaef;
	width: 100%;

}

a {
	font-size: 1.0em;
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

header {
	background-color: #DBFAFD;
	display: flex;
	width: 100%;
	height: 120px;
	align-items: center;
}


/* トップ画像のスタイル */
.top-img {
	margin-left: 10%;
	margin-top: 8%;
	float: left;
	border: 8px;
}

/* 右側のコンテナのスタイル */
.container {
	float: right;
	margin-top: 10%;
	font-size: 1.5em;
	width: 200em;
}

/* 列のスタイル */
.col-md-6 {
	margin-right: 15%;
}

.tabs .indicator {
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container {
	padding-top: 10px;
}

.confirmation-tabs-btn {
	position: absolute;
}

/* カードヘッダーとカードボディの背景色 */
.card-header teal text-white .card-body {
	background-color: #e0f2f1;
}

.nav-link active {
	background-color: #ffcc66;
}

/* タブメニューの背景色 */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	background-color: #87cefa;
	flex: 1;
	text-align: center;

}

/* ナビゲーションリンクの背景色とテキストカラー */
.nav-link {
	background-color: #e0ffff;
	color: royalblue;
}

/* タブメニューのスタイル */
.nav-tabs .nav-link {
	display: block;
	padding: 2rem;
	/* オプション: パディングを追加して選択エリアを大きくする */
}

/* カードヘッダーのパディング */
.card-header {
	padding: 0;
}

/*index.html*/

/*下のヘッダー*/
.secondary-header {
	background-color: #CCCCCC;
	/* 任意の背景色 */
	display: flex;
	width: 100%;
	height: 80px;
	/* セカンダリーヘッダーの高さを設定 */
	align-items: center;
	/* 他のスタイルプロパティを追加 */
}

.bg-light {
	background-color: #DBFAFD !important;
}

/*ヘッダー画像*/
.header-img {
	margin-top: 0.5em;
	margin-left: 2em;
	width: 130px;
}

/*ハンバーガーリスト*/
.navbar-search {
	position: relative;
}

.navbar-search .search-query {
	padding-left: 29px;
}

.navbar-search .icon-search {
	position: absolute;
	top: 7px;
	left: 11px;
}

.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
	padding-left: 30px;
}

/*下のヘッダー*/
.secondary-header {
	display: flex;
	width: 100%;
	/* ヘッダー全体の幅を100%に設定 */
	text-align: center;
	/* ヘッダー内のテキストを中央揃えに設定 */
	flex-direction: row;
	justify-content: space-around;
	background-color: #BCFAF3;
}

.secondary-header a {
	color: #000000;
	position: relative;
	display: inline-block;
	transition: .3s;
	text-decoration: none;
}

.secondary-header a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 3px;
	background-color: lightseagreen;
	transition: .3s;
	transform: translateX(-50%);
}

.secondary-header a:hover::after {
	width: 100%;
}

.secondary-header ul {
	display: flex;
	padding-left: 0;
}

.secondary-header li {
	font-size: 2em;
	width: 200px;
	list-style: none;
	margin: 120px;
}

.box {
	padding: 25px;
	margin: 60px;
	margin-bottom: 10px;
	border: 1px solid #333333;
	border-radius: 10px;
	background-color: #ffff99;
}


.title {
	font-size: 30px;
	margin-left: 100px;
}

.information {
	margin-right: 200px;
}